.inline-card a {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.inline-card .card-image {
    height: 2em;
    width: 2em;
    margin-right: .2em;
}

.inline-card .card-title {
    font-size: medium;
    font-weight: bold;
    color: black;
    margin-right: .2em;
}

.inline-card .card-text-main {
    font-size: medium;
    color: black;
    margin-right: .2em;
}

.inline-card .card-text-secondery {
    color: #989898;
}