.card a {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    text-align: left;
}

.card .card-image {
    height: 5.3rem;
    width: 5.3rem;
    border-radius: 29%;
}

.card .card-title {
    font-size: large;
    font-weight: bold;
    color: #0b58b4;
}

.card .card-text-main {
    color: #000000;
}

.card .card-text-secondery {
    color: #989898;
}